@font-face {
    font-family: 'Norse Bold';
    src: url(assets/Norse-Bold.otf);
}

* {
    box-sizing: border-box;
}


body {
    margin: 0;
}
    

.left-section > img {
    position: fixed;
    bottom: 0;
    height: 100vh;
    width: 40%;
    object-fit: cover;
    z-index: -1;
}

div.left-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 40%;
}

div.right-section {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #f9fafc;
    height: 100vh;
    left:40%;
    top:0;
    width: 60%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    margin-top: 8rem;
    color: #f9fafc;
    height: 18%;
    background-color: rgba(0,0,0, 0.4);
    
    
}

.logo > img {
    height:80%;
}

h1 {
    font-family: 'Norse Bold';
    font-size: 7rem;
}

footer {
    color: white;
    align-self: center;
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

a {
    color: white;
}

